body {
    background-color: rgb(92, 214, 252);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    color: darkslategray;
}

h1 {
    color: rgb(61, 155, 199);
    font-family:'Courier New', Courier, monospace;
}

form input[type="text"] {
    width: 20%;
    margin: 5px;
    border: 2px solid rgb(248, 72, 9);
    border-radius: 7px;
}