.container {
    position: relative;
    width: 25%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img_text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /*This is for older versions if Internet Explorer */
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .img_text {
    opacity: 1;
}

.text {
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}