/* Center everything on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* video container */
.container {
    position: relative;
    width: 30%;
}

.video {
    width: 100%;
    height: auto;
    display: block;
}

/* overlay container */
.overlay {
    position: absolute;
    top: 10px; /* position the text on top part of the video */
    left: 50%;
    transform: translate(-50%);
}

/* overlay text */
.overlay_text {
    color: rgb(243, 7, 54);
    font-size: 32px;
    padding: 8px 32px;
    border-radius: 10px;
   
}
