table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 50%
}

td, th {
    border: 2px solid #ddd;
    padding: 5px;
}

tr:nth-child(even){background-color: azure;}
tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}